/* category menu */

@media screen and (max-width: 1050px) {
	div.category-menu {
		width: 800px;
	}

	div.category-menu div.main-category div.item {
		width: auto;
	}

	div.category-menu div.main-category div.item p {
		font-size: 14px;
	}
}

@media screen and (max-width: 850px) {
	div.category-menu {
		width: 600px;
	}

	div.category-menu div.main-category div.item img {
		width: 30px;
	}

	div.category-menu div.main-category div.item p {
		font-size: 12px;
	}

	div.product-wrapper img.banner-package {
		height: 130px;
	}
}

@media screen and (max-width: 650px) {
	div.category-menu {
		height: auto;
		width: 100%;
	}

	div.category-menu div.main-category {
		overflow-x: scroll;
		justify-content: start;
		width: 100%;
	}

	div.category-menu div.main-category div.item {
		width: auto;
	}

	div.category-menu div.main-category div.item p {
		margin-bottom: 0;
	}
}

/* promo */
@media screen and (max-width: 1150px) {
	div.promo {
		width: 900px;
	}

	div.promo div.bottom {
		justify-content: start;
		overflow-x: scroll;
		width: auto;
	}

	div.promo div.bottom div.card {
		margin: 0 10px;
	}
}

@media screen and (max-width: 950px) {
	div.promo {
		width: 95%;
	}

	div.promo div.card-header {
		height: 45px;
	}

	div.promo div.card-header p {
		font-size: 14px;
	}

	div.promo div.card-header button {
		font-size: 14px;
	}

	div.promo div.bottom {
		padding: 10px;
	}

	div.promo div.bottom div.card div.card-body p.card-text {
		font-size: 14px;
	}

	div.promo div.bottom div.card div.card-body p.oldPrice {
		font-size: 13px;
	}

	div.promo div.bottom div.card div.card-body p.newPrice {
		font-size: 14px;
	}
}

/* product wrapper */
@media screen and (max-width: 1150px) {
	div.product-wrapper {
		width: 900px;
	}

	div.product-wrapper div.main-product {
		justify-content: start;
		overflow-x: scroll;
		width: auto;
	}

	div.product-wrapper div.main-product div.card {
		float: left;
		margin: 0 10px;
		margin-bottom: 10px;
		width: 156px;
	}

	div.best-product {
		display: block;
	}
}

@media screen and (max-width: 950px) {
	div.product-wrapper {
		width: 600px;
	}

	div.product-wrapper div.main-product div.card {
		margin: 0 10px;
		margin-bottom: 10px;
		width: 130px;
	}
}

@media screen and (max-width: 650px) {
	div.promo div.card-header {
		height: auto;
		padding-top: 20px;
	}

	div.promo div.card-header button {
		font-size: 12px;
		margin-top: 10px;
		padding: 3px 8px;
	}

	div.product-wrapper {
		width: 90%;
	}

	div.promo {
		margin-bottom: 50px;
	}
}
.newsletter {
	padding: 80px 0;
	background: #ec4933;
}

.newsletter .content {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;
}
.newsletter .content h2 {
	color: #243c4f;
	margin-bottom: 40px;
}
.newsletter .content .form-control {
	height: 50px;
	border-color: #ffffff;
	border-radius: 0;
}
.newsletter .content.form-control:focus {
	box-shadow: none;
	border: 2px solid #243c4f;
}
.newsletter .content .btn {
	min-height: 50px;
	border-radius: 0;
	background: #243c4f;
	color: #fff;
	font-weight: 600;
}
